# Environment
.env

# Writable/cache/logs
writable/cache/*
writable/logs/*
writable/session/*
writable/debugbar/*
!writable/cache/index.html
!writable/logs/index.html
!writable/session/index.html
!writable/debugbar/index.html

# Composer
/vendor/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db